* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.main-footer {
  background: black;
  padding: 32px;
  margin-top: 48px;
}
.main-footer__links {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.main-footer__link {
  display: inline-block;
  margin: 0 16px;
}
.main-footer__link a {
  color: white;
  text-decoration: none;
}
.main-footer__link a:hover,
.main-footer a:active {
  color: #ccc;
}

.main-header {
  background-color: #2ddf5c;
  width: 100%;
  padding: 8px 16px;
  position: fixed;
}
.main-nav__item {
  display: inline-block;
}
.main-header > div {
  display: inline-block;
  vertical-align: middle;
}
.main-header__brand {
  color: #0e4f1f;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
}
.main-nav {
  display: inline-block;
  text-align: right;
  vertical-align: middle;
  width: calc(100% - 72px);
}
.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* .main-header__link {
 
} */
.main-nav__item a {
  text-decoration: none;
  color: #0e4f1f;
  margin: 0 16px;
  font-weight: bold;
  padding: 3px 0;
}
/* .main-nave__item a:after {
  content: " (Link)";
  color: red;
} */
.main-nav__item a:hover,
.main-nav__item a:active {
  color: white;
  border-bottom: 5px solid white;
}

p ::first-letter {
  color: red;
  font-size: 20px;
}
.main-nav__item--cta a {
  color: white;
  background: #ff1b68;
  padding: 8px 16px;
  border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
  color: #ff1b68;
  background: white;
  border: none;
}

.button {
  background-color: #0e4f1f;
  color: white;
  font: inherit;
  border: 1.5px soloid #0e4f1f;
  padding: 8px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}
.button:hover,
.button:active {
  background-color: white;
  color: #0e4f1f;
}
.button:focus {
  outline: none;
}
